<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>線上報到系統</title>
    <meta property="fb:app_id" content="2435108729902508"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Let's Write"/>
    <meta property="og:title" content="線上報到系統"/>
    <meta itemprop="name" content="線上報到系統"/>
    <meta name="description" content="文章大綱"/>
    <meta property="og:description" content="文章大綱"/>
    <meta itemprop="description" content="文章大綱"/>
    <meta itemprop="image" content="https://karynchang.github.io/demo-webpage/Karyn_Demo/fb.jpg"/>
    <meta property="og:image" content="https://karynchang.github.io/demo-webpage/Karyn_Demo/fb.jpg"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
    <meta property="og:image:alt" content="Google表單，輸入ID後自動帶入其它欄位資料"/>
    <link rel="shortcut icon" href="https://karynchang.github.io/demo-webpage/Karyn_Demo/dist/img/logo_512.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
    <link rel="stylesheet" href="dist/style.min.css"/>
    <!-- Google Tag Manager-->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PGQ9WQT');
    </script>
  </head>
  <body>
    <!-- Google Tag Manager (noscript)-->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PGQ9WQT" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <div class="container" id="app">
      <div class="double-wrap" :class="{ hide: !loading }">
        <div class="double">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
      </div>
      <section class="kv w-640"><img src="https://picsum.photos/640/360" width="640" height="360" alt="主視覺"/></section>
      <section class="form w-640">
        <div class="text-center">
          <h1>線上報到系統</h1>
        </div>
        <div class="form-group">
          <label for="name">請輸入 姓名</label>
          <input class="form-control" id="name" type="text" v-model="name" @input="limitIdLen(name)"/>
        </div>
        <div class="two-col">
          <div class="col">
            <div class="form-group">
              <label for="id">ID</label>
              <input class="form-control" id="name" type="text" v-model="person.id" disabled="disabled"/>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="phone">電話</label>
              <input class="form-control" id="phone" type="tel" v-model="person.phone" disabled="disabled"/>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="area">地區</label>
          <input class="form-control" id="area" type="text" v-model="person.area" disabled="disabled"/>
        </div>
        <div class="form-group">
          <label for="org">系統/支部/法座</label>
          <input class="form-control" id="org" type="text" v-model="person.org" disabled="disabled"/>
        </div>
        <div class="form-group">
          <label for="note">備註</label>
          <input class="form-control" id="note" type="text" v-model="person.note" :disabled="person.area == undefined"/>
        </div>
        <div class="two-col">
          <div class="col">
            <div class="submit"><a href="#" :class="{ disabled: person.area == undefined }" @click.prevent="submit">送出</a></div>
          </div>
          <div class="col">
            <div class="submit"><a href="https://docs.google.com/forms/d/e/1FAIpQLScdilOxXRm3cScT8uk2z_t-KDH--Mqy3lD_ZQrf1Vng7faPdw/viewform" target="_blank">我沒填過資料</a></div>	
          </div>
      </section>
    </div>
    
   <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script> -->
    <script src="dist/main.min.js"></script>
  </body>
</html>
